# Database
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT_EXPOSE=
DB_HOST=


# Django superuser (created on first run)
DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=

# App port (frontend + nginx)
APP_PORT=3000
